<link rel="stylesheet" href="/css/profile.css">
                <h2>My Items</h2>
                {{#each items as |item|}}
                <div class="row mb-5">
                    <hr>
                    <div class="col-md-4 col-sm-12 align-self-center">
                        <a href="/upload-image" id="item-id"><img src="/images/{{image}}" class="thumbnail" alt="..."></a>
                        <p>Rating: {{rating}}</p>
                    </div>
                    <div class="col-md-2 col-sm-12 align-self-center">
                        <h5>Item</h5>
                        <a href="/item/{{id}}"><p>{{name}}</p></a>
                    </div>
                    <div class="col-md-2 col-sm-12 align-self-center">
                        <h5>Item Description</h5>
                        <p>{{description}}</p>
                    </div>
                    <div class="col-md-2 col-sm-12 align-self-center">
                        <h5>Purchase Price</h5>
                        <p>${{purchase_price}}</p>
                    </div>
                    <div class="col-md-2 col-sm-12 align-self-center">
                        <h5>Buy Price</h5>
                        <p>${{buy_price}}</p>
                    </div>
                    <div class="col-md-2 col-sm-12 align-self-center">
                        <h5>Rentable Item</h5>
                        {{#if is_rentable}}
                        ✅
                        {{else}}
                        ❌
                        {{/if}}
                    </div>
                    <div class="col-md-2 col-sm-12 align-self-center">
                        <h5>Rental Price</h5>
                        {{#if is_rentable}}
                        <p>${{rental_price}}
                        {{else}}
                        N/A
                        {{/if}}
                    </div>
                    <div class="col-md-2 col-sm-12 align-self-center">
                        <h5>Status</h5>
                        {{#if return_date}}
                        <p>Out for Rental. <br>
                        Return Date: {{return_date}}</p>
                        {{else}}
                        Available
                        {{/if}}
                    </div>
                    <div>
                        <button type="button" data-item-id={{id}} class="btn btn-danger deleteItem">
                            Delete
                        </button>
                    </div>
                </div>
                {{/each}}
                <div class="row">
                    <div class="container-fluid col-12 col-lg-12 col-sm-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                Add Item
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="itemName" class="form-label">Item name</label>
                                        <input type="text" class="form-control" id="itemName" placeholder="My Awesome Item">
                                        </div>
                                        <div class="mb-3">
                                        <label for="itemDescription" class="form-label">Item Description</label>
                                        <textarea class="form-control" id="itemDescription" rows="3"></textarea>
                                        </div>
                                        <div class="mb-3">
                                        <label for="purchasePrice" class="form-label">Purchase Price</label>
                                        <input class="form-control" id="purchasePrice" rows="3"></input>
                                        <label for="purchasePrice" class="form-label">Rental Price</label>
                                        <input class="form-control" id="purchasePrice" rows="3"></input> / Day
                                        </div>
                                        <label for="purchasePrice" class="form-label">Sell Price</label>
                                        <input class="form-control" id="purchasePrice" rows="3"></input> / Day
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <script src="/js/manageItems.js"></script>