 <div class="container-fluid my-5  d-flex  justify-content-center">
        <div class="card card-1 w-75">
            <div class="card-header bg-white">
                <div class="media flex-sm-row flex-column-reverse justify-content-between  ">
                    <div class="col my-auto"> <h3 class="mb-0">Order History</h3></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-between mb-3">
                    <div class="col-auto"> <h6 class="color-1 mb-0 change-color">Receipt</h6> </div>
                </div>
                {{#each orders as |order| }}
                <div class="row mt-4">
                    <div class="col">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="media">
                                    <div class="sq align-self-center "> <a id="historyItemPage" href="/profile"><img id="historyImg" class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="/images/{{order.order_details.item.image}}" width="135" height="135" /></div></a>
                                    <div class="media-body my-auto text-right">
                                        <div class="row  my-auto flex-column flex-md-row">
                                            <div id="historyItem" class="col my-auto"> <h6 class="mb-0">{{order.order_details}}</h6>  </div>
                                            {{#if order.orderdetail.is_rental}}
                                            <div class="col-auto my-auto"> <small>Purchase Type:</small></div>
                                            <div id="historyPurchaseType" class="col my-auto"> <small>Rental</small></div>
                                            {{else}}
                                               <div class="col-auto my-auto"> <small>Purchase Type:</small></div>
                                            <div id="historyPurchaseType" class="col my-auto"> <small>Purchase</small></div>
                                            {{/if}}
                                            <div id="historyQuantity" class="col my-auto"> <small>Qty : {{order.orderdetail.qty}}</small></div>
                                            <div id="historyPrice" class="col my-auto"><h6 class="mb-0">{{order.item.price}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-3 ">
                                <div class="row">
                                    <div class="col-md-3 mb-3"> <small>Order Details<span><i class=" ml-2 fa fa-refresh"  aria-hidden="true"></i></span></small></div>
                                    <div  class="col-md-3 mb-3"> <small id="historyOrderedBy">Ordered By: {{order.user.first_name}} {{order.user.last_name}}<span><i class=" ml-2 fa fa-refresh"  aria-hidden="true"></i></span></small></div>
                                    <div class="col-md-3 mb-3"> <small id="historyOrderedByAddress">Delivered To: {{order.ship_to_addr_id}}<span><i class=" ml-2 fa fa-refresh"  aria-hidden="true"></i></span></small></div>
                                    <div class="col-md-3 mb-3"> <small id="historyOrderPlaced">Order Placed:{{order.ship_date}}<span><i class=" ml-2 fa fa-refresh"  aria-hidden="true"></i></span></small></div>
                                    <a href="/profile/confirmation/{{id}}" id="historyViewOrder" type="button" class="btn btn-primary">View Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               {{/each}}
            </div>
        </div>
    </div>
    <script src="/js/history.js"></script>