   <div class="d-flex flex-column align-self-center">

            <div class="align-self-center">
                <h1>Thank you! Your Order has been Placed.</h1>
            </div>
            <div class="align-self-center">
                <h3>Please check your email for order confirmation</h3>
                <h4 align="center">Order#: {{orderHeader.id}}</h4>
            </div>
            {{#if rentals}}
            <div class="align-self-center">
                {{#each rentals as |rental|}}
                Item:{{rental.item.name}}
                Rental Start: {{rental.start_date}}
                Rental End: {{rental.start_date}}
                {{/each}}
            {{/if}}
            </div>
            <div class="align-self-center">
                {{#each shipAddress as |ship|}}
                <p>Shipping Address: 
                {{ship.addr1}} {{ship.addr2}}
                {{ship.city}}, {{ship.state}} {{ship.zip}} </p>
                {{/each}}
            </div>
            <div class="align-self-center">
                <p>Billing Address:
                {{#each billAddress as |bill|}}
                {{bill.addr1}} {{bill.addr2}}
                {{bill.city}}, {{bill.state}} {{bill.zip}}
                {{/each}}
                </p>
            </div>
            <div class="align-self-center">
                <p>Shipping status: {{orderHeader.status}}</p>
            </div>
            {{#if ship_date}}
            <div class="align-self-center">
                <p>Your order was shipped on {{orderHeader.ship_date}}</p>
            </div>
            {{/if}}

        </div>